.App {
  text-align: center;
}

#header{
  height: 15vh;
  width: 100vw;
  background-color: aquamarine;
}
h1{
  align-items: center;
  color: blue;
  font-style: oblique;

}
h2{
  align-items: center;
}
button{
  background-color: aquamarine;
  height: 40px;
  width: 90px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
